// Variables
$minmobile: "(max-width: 360px)";
$mobile: "(min-width: 361px) and (max-width: 480px)";
$tablet: "(min-width: 481px) and (max-width: 992px)";
$desktop: "(min-width: 1024px)";

// Colores

$c1: #c4c4c4;
$c2: #787878;
$c3: #303030;
$c4: #ECF0F1;
